body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background: url(images/Twice\ pic\ heading.png);
    background-size: cover;
    background-repeat:no-repeat;  
}
Header{
    height:60px;
}
.NavbarHP {
    overflow:hidden;
    background-color: #333;
}
.NavbarHP a.right{
    float: right;
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}
.NavbarHP a:hover{
    background-color: lightgrey
}
.NavbarHP a.active {
    background:transparent;
}
.NavbarHP .iconBars{
    display: none;
}
@media screen and (max-width: 600px){
    .NavbarHP.responsive {position: relative;}
    .NavbarHP.responsive .iconBars{
      position:absolute;
      right: 0;
      top: 0;
    }
    .NavbarHP.responsive.a{
      float:none;
      display:block;
      text-align:left;
    }
}

/* DropDown button 
.Menu{
    position:relative;
    background-color: transparent;
    border: transparent;
}
.dropdown{
    display:inline-block;
    position:absolute;
    top: 8px;
    right: 16px;
    font-size: 10px;
}
.Menu-Content {
    display:none;
    position:absolute;
    width:100%;
    overflow:auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4)
}
.dropdown:hover .Menu-Content {
    display:block;
}
.Menu-Content a{
    display: block;
    color: black;
    padding: 5px;
    text-decoration: none;
}
.Menu-Content a:hover {
    color: grey;
    background-color: cyan;
}

.homepage {
    background-image: url("./images/Twice pic heading.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
} */