.Header h1 {
    text-align: center;
    font-size: 40px;
}

.homepage {
    background-image: url("./images/Twice pic heading.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.History {
    display: flex;
}
.pre-debut p {
    text-align: left;
    width: 50%;
}
.Header.Logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* DropDown button */
.button{
    position:absolute;
    font-size: 20px;
}
.dropdown{
    display:inline-block;
    position:absolute;
    top: 8px;
    right: 16px;
    font-size: 10px;
}
.Menu-Content {
    display:none;
    position:absolute;
    width:100%;
    overflow:auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4)
}
.dropdown:hover .Menu-Content {
    display:block;
}
.Menu-Content a{
    display: block;
    color: black;
    padding: 5px;
    text-decoration: none;
}
.Menu-Content a:hover {
    color: grey;
    background-color: cyan;
}