
/* History */
.imgfloatleft img{
    float:left;
    width:50%;
}

.imgfloatright img{
    float:right;
    width:50%;
}
h3{
    text-align: center;
}



/*Headers About us*/
.AboutUsH1, .Members_html_heading{
    text-align: center;
    font-size: 30px;

}
/* About Us Menu */
.MV{
    margin:0;
    padding:0;
}
.dropdown{
    position: relative;
    display: flex;
    float: right;
    overflow:hidden;
}
.Dropdown-content {
    display: none;
    position: absolute;
    background-color: pink;
    z-index: 1;
}
.dropdown:hover .Dropdown-content{
    display:block;
}
.Dropdown-Menu{
    background: transparent;
    border: transparent;
}


/* Members.html*/
#left{
    float:left;

}
#right{
    float:right;
}



/* MemberPage section*/

/*MemberPage row/column */
.Member-Page {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    margin-top:0;
}
.MPHTML{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

.column{
    float: left;
    max-width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    margin: 8px;
}
.card img{
    width: 100%;
}
.Info{
    font-size: 20px;
    margin: 5px;
}

.MemberPageH1{
    padding: 30px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.container{
    padding: 0 16px;
}
.container::after, .row::after{
    content: "";
    clear: both;
    display: table;
}
.title{
    color:grey;
}
.buttonMP {
    border: none;
    outline: 0;
    display: inline-block;
    padding:10px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
}
  
.buttonMP:hover {
    background-color: lightgrey;
}
.buttonMP a:visited, .buttonMP a:link{
    text-decoration: none;
    color:white;
}

@media all and (max-width: 650px) {
    .column {
      width: 100%;
    }
} 




/*Gallery*/
.gallery{
    width:80%;
    margin:80px auto 80px; /* top, left-right, bot */
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:30px;
}

.gallery img{
    width:100%;
    cursor: pointer;
}

.gallery img:hover{
    transform:scale(0.8) rotate(-30deg);
    border-radius:25px;
    box-shadow: 0 32px 75px rgba(68,77,136,0,2);
}
.zoom-img{
    width:100%;
    height:100vh; /*viewport height*/
    background:rgba(0,0,0,0.9);
    position:fixed;
    top:0;
    left:0;
    display:none;
    align-items: center;
    justify-content: center;
    z-index: 100;

}
.zoom-img img{
    width:90%;
    max-width: 500px;
}
.zoom-img span{
    position:absolute;
    top:5%;
    right:5%;
    cursor: pointer;
    width:50px;
    height:50px;
}
/* Gallery Filter*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.Gallery{ /*Gallery Section */
    padding:40px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:50px auto;
}
.Gallery ul{
    display:flex;
    margin-bottom:30px;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}
.Gallery ul li{
    list-style: none;
    background:lightpink;
    padding:12px 20px;
    margin:5px;
    letter-spacing:2px;
    cursor: pointer;
}
.Gallery ul li.active{
    background:lightcoral;
    color:white;
}
.Pictures{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
}

.Pictures .Pic{
    position:relative;
    width: 300px;
    height:300px;
    margin: 5px;
    display:block
}

.Pictures .Pic.hide{
    display:none;
}

.Pictures .Pic img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}
.galleryHead{
    text-align: center;
    text-decoration: none;
    color:black;
}
/* Gallery BackToTop button */
#BackToTopBtn{
    display:none;
    position:fixed;
    width:60px;
    bottom:40px;
    right: 20px;
    /*margin-left: 1000px;*/
    z-index: 9;
    border:none;
    outline:dotted black ;
    background:transparent;
    cursor:pointer;
    padding:10px;
    border-radius: 5px;
}
#BackToTopBtn img{
    width:50px;
    height:auto;
    margin-right:20px;
}
#BackToTopBtn:hover{
    background-color: pink;
}
/* Headers MV
#HeaderMV{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 67px;
}*/


/* About Us Menu */
/*.Dropdown-Menu{
    background:transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}
.Dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown-content a:hover {
    background-color: black;
}
.dropdown:hover .dropdown-content {
    display: block;
} */



/**{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
}

.navbarMV{
    width: 100%;
    height: 50px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
.navbarMV .logo a{
    display:block;
    background: transparent;
}
.navbarMV .nav_menu{
    display:flex;
    align-items:center;
    margin-left: 25px;
    cursor: pointer;
    position: relative;
}
.navbarMV .nav_menu:hover{
    color:white;
}
.navbarMV .nav_menu img{
    width:auto;
    height:50px;
    background: transparent;
    vertical-align: middle;
}
.navbarMV .dropdown-menu{
    position: absolute;
    top: 47px;
    right: -25px;
    display:flex;
    background:white;
    box-shadow: 0 0 3px rgba (0,0,0,0.25);
    border-radius:15px;
    display:none;
}
.navbarMV .dropdown-menu li{
    margin-bottom: 10px;
    color: grey;
}
.navBarMV .dropdown-menu:before{
    content: ' ';
    position: absolute;
    top: -20px;
    right: 30px;
    border: 10px;
    border-color: transparent transparent transparent transparent;
}
.navbar .nav_menu.MVJS.Active .dropdown-menu{
    display:flex;
}*/

/*navbar*/
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
  }

  .nav{
    background-color: lightgrey;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
  }
 .logo{
    height:50px;
 }
 .logodiv{
    width:100%;
 }
 .nav-list{
    list-style-type: none;
    width:100%;
    text-align:center;
    padding-top:10px;
 }
 .nav-list .items{
    display: inline-block;
    padding:20px 10px;
 }
  .nav a{
    color:white;
    text-decoration: none;
  }
  .nav a:hover{
    color:green;
  }
  .menu{
    display: none;
  }

  .bars{
    width: 25px;
    height:25px;
  }
  @media all and (max-width: 790px){
    .nav{
        flex-direction: column;

    }
    .menu{
        display:block;
        position:absolute;
        right:20px;
        top:20px;
    }
    .nav-list{
        list-style-type: none;
        width:100%;
        text-align:center;
        padding-top:10px;
        display:none;
    }
    .nav-list .items{
        display:block;
        border-top: 1px solid white;
    }
    .icon{
        margin-top:20px;
        margin-left:15px;
    }
    .active{
        display:block;
    }
  }



  