Members .Members.Momo img{
    border-radius: 10px; 
}
.p{
    float: right;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 1px;
    overflow: hidden;
    background-color: black;
}

li{
    float: left;
}
li a {
    display:block;
    padding:8px;
    border-color: grey;
}

nav{
    width:auto;
}
/*Headers*/
.AboutUsH1, .Members_html_heading{
    text-align: center;
    font-size: 30px;

}
/* About Us Menu */
.dropdown{
    position: relative;
    display: inline-block;
    top: 8px;
    right: 16px;
}
.Dropdown-content {
    display: none;
    position: absolute;
    background-color: pink;
    z-index: 1;
}
.dropdown:hover .Dropdown-content{
    display:block;
}
.Dropdown-Menu{
    background: transparent;
    border: transparent;
}


/* Members.html*/
#left{
    float:left;
s
}
#right{
    float:right;
}
/* About Us Menu */
/*.Dropdown-Menu{
    background:transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}
.Dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown-content a:hover {
    background-color: black;
}
.dropdown:hover .dropdown-content {
    display: block;
} */

