Members .Members.Momo img{
    border-radius: 10px; 
}
.p{
    float: right;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 1px;
    overflow: hidden;
    background-color: black;
}

li{
    float: left;
}
li a {
    display:block;
    padding:8px;
    border-color: grey;
}

nav{
    width:auto;
}